/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    padding: 15px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand img {
    width: 50px;
  }

.nav-links {
    display: flex;
  gap: 15px;
  position: absolute;
  top: 10px; /* Position links at the top */
  right: 20px; /* Position links to the right */
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.3s;
}
.logo-image {
    height: 40px; /* Adjust size as needed */
    width: auto;
    /* You can also add additional styling like margin, padding, etc. */
}


/* Registration Form Styles */
.registration-form {
    margin: 50px 0;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-form .form-group {
    margin-bottom: 15px;
}

.registration-form label {
    font-weight: bold;
}

.registration-form input, .registration-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.registration-form .btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.registration-form .btn-primary:hover {
    background-color: #0056b3;
}

/* Footer Styles */
footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 14px;
}
